.admin-page {
    display: flex;
    justify-content: space-around;
}

.format-rut {
    font-size: 13px;
    color: #858585;
    font-style: italic;
}

.alert-form-error {
    background: #fcadad;
    border: 1.5px solid #ff2323;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-top: 5px;
}

.alert-form-success {
    background: #bbffbb;
    border: 1.5px solid #0eca2d;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-top: 5px;
}

.title-operation {
    font-size: 22px;
    text-transform: uppercase;
    color: #777777;
    padding: 5px;
    
}

.operations {
    display: block;
    justify-content: center;
    width: 500px;
}

.operation-create input, select {
    display: block;
    margin-top: 5px;
    padding: 5px;
    border-radius: 6px;
    background: #f1f1f1;
    font-size: 17px;
    color: #232323;
    outline: none;
    width: 100%;
}

.operation-create button {
    display: block;
    margin-top: 15px;
    padding: 5px;
    border-radius: 6px;
    background: #3877ff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.7px;
    color: #fff;
    outline: none;
    width: 100%;
}
.operation-create button:hover {
    display: block;
    margin-top: 15px;
    padding: 5px;
    border-radius: 6px;
    background: #aec6fa;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.7px;
    color: #fff;
    outline: none;
    width: 100%;
}


