.hour-page {
    display: flex;
    justify-content: space-around;
}

.hour-create {
    width: 25%;
    display: block;
}

.hour-create input {
    display: block;
    margin-top: 5px;
    padding: 5px;
    border-radius: 6px;
    background: #f1f1f1;
    font-size: 17px;
    color: #232323;
    outline: none;
    width: 100%;
}

.hour-create button {
    display: block;
    margin-top: 15px;
    padding: 5px;
    border-radius: 6px;
    background: #3877ff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.7px;
    color: #fff;
    outline: none;
    width: 100%;
}
.hour-create button:hover {
    display: block;
    margin-top: 15px;
    padding: 5px;
    border-radius: 6px;
    background: #aec6fa;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.7px;
    color: #fff;
    outline: none;
    width: 100%;
}

.hour-list {
    width: 65%;
}

.button-create button {
    display: block;
    margin-top: 15px;
    padding: 5px;
    border-radius: 6px;
    background: #3877ff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.7px;
    color: #fff;
    outline: none;
    width: 100%;
}
.button-create button:hover {
    display: block;
    margin-top: 15px;
    padding: 5px;
    border-radius: 6px;
    background: #aec6fa;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.7px;
    color: #fff;
    outline: none;
    width: 100%;
}

/* observation component */
.observation-component {
}


.observation-form {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.observation-form input{
    border: 1.3px solid #adadad;
    border-radius: 6px;
    outline: none;
    padding-left: 3px;
    font-size: 22px;
}

.observation-form button{
    background: #2fff86;
    border-radius: 6px;
    padding: 5px;
    font-size: 22px;
    align-items: center;
    margin-left: 5px;
    color: #232323;
}

.observation-form button:hover{
    background: #cafddf;
}

.observation-msg {
    margin-left: 0px;
    border: 1px solid #3877ff;
    background: #b2cbff;
    border-radius: 6px;
    text-align: center;
    color: #232323;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.table-admin thead, tr, th{
    font-size: 30px;
}